extends layout

block content
  #wrapper.container.toggled
    include sidebar
    script(src='javascripts/home.js')
    script(src='javascripts/showbook.js')
    #page-content-wrapper.container
      div
        h1 Here will be content
        p which will be recieved from db
        a#filter.btn.btn-default(href='#') Show / Hide filter
        a#create.btn.btn-default.pull-right(href='/create') Create New Book
      hr
      table#books-data.table.table-bordered.table-hover.table-responsive
        thead
          tr
            each value, key in columns
              if i == columns.length - 1
                th(colspan='3')= value
              else
                th= value
        tbody
          if(data)
            each book in data
              tr
                each value, key in columns
                  td= book[key]
                td.icon
                  i.glyphicon.glyphicon-pencil
                td.icon
                  i.glyphicon.glyphicon-trash
      if pages > 1
        ul.pagination.pull-right
          li(class= current > 1 ? '' : 'disabled')
            a(href='/home?page=#{current - 1}', aria-label='Previous')
              span(aria-hidden='true') &laquo;
          - var index = 0
          while index < pages
            li(class= current == index + 1 ? 'active' : '')
              a(href='/home?page=#{index + 1}')= index++ + 1
          li(class= current < pages ? '' : 'disabled')
            a(href='/home?page=#{current + 1}', aria-label='Next')
              span(aria-hidden='true') &raquo;
  .modal.fade#bookDeleteModal(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        form#deleteForm.form-horizontal
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(data-dismiss='modal', aria-hidden='true') &times;
            h4.modal-title#myModalLabel Delete
          .modal-body
            h3 Are you sure you want to delete this book?
            p This action cannot be undone
            hr
            .summary
            input.row(type='hidden')
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
            button.btn.btn-danger(type='button', data-dismiss='modal') Delete